@import url('main.css');

footer {
    background-color: var(--section-background);
    height: 200px;
    margin-top: 200px;
}

.fa-linkedin:hover {
    color: #0072b1;
}

.fa-facebook-f:hover {
    color: #1877F2;
}

.fa-instagram:hover {
    color: #e56969;
}

#footer-name {
    max-width: fit-content;
}