@import url('main.css');

#hero-banner {
  background-color: var(--background);
  height: 100vh;
}

.title-header {
  color: white;
  font-size: 9.88rem;
  letter-spacing: -5px;
  font-weight: 900;
  margin-bottom: -15px;
  margin-left: 0;
  margin-right: 0;
  text-shadow: 0 9px 20px #ffffff1f;
}

.tag-line {
  font-size: 2.1rem;
  font-weight: 100;
  color: var(--color-text-light);
}

.tag-line a {
  color: var(--color-text-light);
}

.hero-banner-row {
  min-height: 100vh;
  margin-right: 0 !important;
}

.btn-connect {
  border-radius: 30px !important;
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
}

.btn-connect:hover {
    color: white;
}

.btn-connect:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(255, 255, 255, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 255, 255, 0.5);
}

.btn-connect:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(255, 255, 255, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 991px) {
  .title-header {
    font-size: 4.8rem;
    letter-spacing: -2px;
    margin-bottom: 0;
  }

  #tag-line-div {
    align-items: center;
  }

  .tag-line {
    font-size: 1.4rem;
    display: block;
    letter-spacing: -.5px;
  }

  .btn-connect {
    font-size: 0.8rem;
    padding: 5px 15px;
  }
  }
