@import url('main.css');

#hero-banner {
  background-color: var(--background);
}

#hero-banner .hero-banner-row {
    min-height: 80vh;
}

h1 {
    color: rgb(190, 190, 190)
}

#hero-div h1{
    font-size: 7.6rem;
    font-weight: 100;
    letter-spacing: -.4px;
    margin-bottom: 50px;
}

.lead {
    font-size: 1.7rem;
    letter-spacing: -.6px;
    line-height: 1.6em;
}

#hero-div #developer-heading {
    font-size: 7.5rem;
    font-weight: 700;
}

#row-3 h1 {
    margin-top: 30px;
    font-size: 4.6rem;
    font-weight: 100;
}

@media (max-width: 768px) {
    #hero-div h1{
        font-size: 2.3rem;
    }
    
    
    #hero-div #developer-heading {
        font-size: 3rem;
        font-weight: 700;
    }
    
    .lead {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    #hero-div {
        margin-top: 150px;
        margin-bottom: 80px;
    }
}

#row-3 {
    font-size: 100px;
}

