:root {
  --background: #1b1c1c; /* main charcoal background */
  --section-background: rgba(31, 31, 31, 0.562);
  --color-text-light: rgb(149, 149, 149); /* light grey for body text and light elements */
  --color-accent: #f39c12; 
  --color-accent-1: #ef4765;
  --color-accent-2: #ff9a5a;
  --site-image-placeholder-bg: #ced4da;
  --site-card-background: #ffffff;
  --site-dark-text: #212529; /* Darker text for titles within cards */
  --site-muted-text: #6c757d;
}

/* Larsseit This */
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/larsseitthin-webfont.woff2') format('woff2'),
         url('fonts/larsseitthin-webfont.woff') format('woff');
    font-weight: 100; 
    font-style: normal;
    font-display: swap; /* Important for performance */
}

/* Larsseit Medium */
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/larsseitmedium-webfont.woff2') format('woff2'),
         url('fonts/larsseitmedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Larsseit Bold */
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/larsseitbold-webfont.woff2') format('woff2'),
         url('fonts/larsseitbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Larsseit Extra Bold */
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/larsseitextrabold-webfont.woff2') format('woff2'),
         url('fonts/larsseitextrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Larsseit Thin Italic */
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/larsseitthinitalic-webfont.woff2') format('woff2'),
         url('fonts/larsseitthinitalic-webfont.woff') format('woff');
    font-weight: 100; /* or 'thin' if your font supports it */
    font-style: italic;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Larsseit', sans-serif;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  margin: 0;
}

section {
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
}

#header-row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header {
  font-weight: 900 !important;
  font-size: 7rem;
  color: white;
  letter-spacing: -6px;
  transition: transform 0.3s ease-out;
  text-shadow: 0 9px 20px #ffffff1f;
}

.header:hover {
  transform: translateY(-3px);
}

.section-container {
    background-color: var(--section-background);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon-img {
    width: 70px;
    height: 70px;
}

/* --------- Navbar -------- */
.navbar-container {
  background-color: var(--background);
}

.navbar {
  /* width: 92%; */
  background-color: var(--background);
}

.navbar-bottom-border {
  border-bottom: 1px solid white; /* 3px solid border in your vibrant amber accent color */
}

.navbar-brand-custom {
  font-size: 3.5rem;
  line-height: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-image 0.3s ease-in-out, text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-image: linear-gradient(to bottom right, #ef4765, #ff9a5a);
}

.navbar-nav .nav-item {
  margin: 0 15px;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 2px 30px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.primary-btn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.primary-btn:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

@media (min-width: 992px) {
    .navbar-nav.me-auto,
    .navbar-nav.ms-auto {
        margin: 0 !important;
    }
    
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
        flex-basis: auto;
    }
    
}

@media (max-width: 992px) {
.header {
  font-size: 3.5rem;
}

#skills-heading {
    font-size: 2.2rem;
}

.icon-img {
    width: 50px;
    height: 50px;
}
}