.project-container {
    min-height: 80vh;
    width: 80%;
}

.project_text {
    font-size: 1.8rem;
    font-weight: 300;
}

.project-container .section-container {
    margin-bottom: 0;
}

#project-img-container img {
    border-radius: 30px;
    /* box-shadow: 8px 8px 15px #ffffff8e; */
}

#project-img-container img:hover {
    box-shadow: 8px 8px 15px #ffffff8e;
}

.icon {
    color: #fff;
    border-width: 1px;
    border-color: #fff;
    font-family: Larsseit,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border: 1.3px solid #fff;
    border-radius: .5rem;
    padding: .5rem 1rem;
    display: inline-block;
}

@media screen and (max-width: 992px) {
    .project-container {
    min-height: 80vh;
    width: 100%;
}
}