{% extends 'base.html' %}

{% block title %}Project Detail | Lucas Patriquin's Portfolio{% endblock %}
{% block og_type %}article{% endblock %}

{% block content %}
<div class="container project-container d-flex justify-content-center">
    <div class="section-container px-5">
        <div class="col-12 col-lg-6">
            <h1 id="project_name" class="text-white header">{{ project_name | upper }}</h1>
            {% if proj.id == 1 %}
                <p class="text-white project_text">After spending hours every year organizing and categorizing my bank transactions I decided to build a simple, yet effective personal finance tracker.</p>
                <p class="text-white project_text mt-4">A place where I can upload my bank statements, categorize my spending, and create budgets.</p>
                <div class="d-flex flex-wrap icon-container mt-5">
                    <div class="icon m-1">
                        Django
                    </div>
                    <div class="icon m-1">
                        Bootstrap5
                    </div>
                    <div class="icon m-1">
                        allAuth
                    </div>
                    <div class="icon m-1">
                        chartJs
                    </div>
                    <div class="icon m-1">
                        Python
                    </div>
                    <div class="icon m-1">
                        Javascript
                    </div>
                    <div class="icon m-1">
                        Railway
                    </div>
                </div>
                <div class="mt-4">
                    <a href="#">
                        <button class="btn primary-btn me-2 mobile-btn">Visit Site</button>
                    </a>
                    <a href="https://github.com/PyLou317/evergreen-financial" target="_blank">
                        <button class="btn primary-btn mobile-btn">View Source Code</button>
                    </a>
                </div>

                {% elif proj.id == 2 %}
                <p class="text-white project_text">At work every salesperson/recruiter used some variation of an Excel spreadsheet to track the metrics that mattered most.</p>
                <p class="text-white project_text mt-4">So I built platform to do it better.</p>
                <div class="d-flex flex-wrap icon-container mt-5">
                    <div class="icon m-1">
                        Django
                    </div>
                    <div class="icon m-1">
                        Bootstrap5
                    </div>
                    <div class="icon m-1">
                        allAuth
                    </div>
                    <div class="icon m-1">
                        Python
                    </div>
                    <div class="icon m-1">
                        Javascript
                    </div>
                </div>
                <div class="mt-4">
                    <a href="https://spreadtracker.up.railway.app" target="_blank">
                        <button class="btn primary-btn me-2 mobile-btn">Visit Site</button>
                    </a>
                    <a href="https://github.com/PyLou317/weekly-spread-tracker" target="_blank">
                        <button class="btn primary-btn mobile-btn">View Source Code</button>
                    </a>
                </div>

                {% elif proj.id == 3 %}
                <p class="text-white project_text">A place to showcase my work.</p>
                <p class="text-white project_text mt-4">Originally, built with the Django framework, I refactored my code using Flask. This allowed me to become familiar with another framework and to further my understanding of the MVC design.</p>
                <div class="d-flex flex-wrap icon-container mt-5">
                    <div class="icon m-1">
                        Flask
                    </div>
                    <div class="icon m-1">
                        Gmail Integration
                    </div>
                    <div class="icon m-1">
                        Bootstrap5
                    </div>
                    <div class="icon m-1">
                        Jinja
                    </div>
                </div>
                <div class="mt-4">
                    <a href="https://lucaspatriquin.com/" target="_blank">
                        <button class="btn primary-btn me-2 mobile-btn">Visit Site</button>
                    </a>
                    <a href="https://github.com/PyLou317/flask-portfolio-site" target="_blank">
                        <button class="btn primary-btn mobile-btn">View Source Code</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>


<div id="project-img-container" class="d-flex container justify-content-center my-5">
    <img class="img-fluid outer-glow" src="{{ url_for('static', filename=proj.img_path2.replace('static/', '')) }}" alt="Everygreen Financial Dashboard" style="max-width: 90%;">
</div>
<div id="project-img-container" class="d-flex container justify-content-center mb-5">
    <img class="img-fluid outer-glow" src="{{ url_for('static', filename=proj.img_path3.replace('static/', '')) }}" alt="Everygreen Financial Transactions" style="max-width: 90%;">
</div>
<div id="project-img-container" class="d-flex container justify-content-center mb-5">
    <img class="img-fluid outer-glow" src="{{ url_for('static', filename=proj.img_path4.replace('static/', '')) }}" alt="Everygreen Financial Mobile" style="max-width: 90%;">
</div>

{% endblock content %}