<div id="about-me" class="container about-container">
    <div class="d-flex row justify-content-around">
        <div class="col-lg-5">
            <h1 class="about-text-1">Hi, I'm Lucas, a salesperson based in Canada, who learned to code in his free time.</h1>
        </div>
        <div class="col-lg-5 text-light">
            <p class="about-text-2">With over 8 years experience in sales, I've learned to ask the right questions to truly understand your problems. Then I build simple and elegant solutions with code.</p>
        </div>
    </div>
</div>
<div id="developer" class="container about-container extra-margin">
    <div class="d-flex row align-items-center justify-content-around flex-row-reverse">
        <div class="col-lg-6">
            <div class="about-text">
                <h1 class="display-4 fw-bold text-light">Developer</h1>
                <h3 class="fw-semibold">Full-Stack Web Developer <small>(in the making)</small></h3>
                <p>
                    I've completed 2 Python MOOC's from the University of Helsinki and a certificate for the Django framework by Dr. Chuck at the University of Michigan. This year I dove into building my own projects, including this portfolio site, a personal finance tracker, and a restaurant rewards program. Throughout this journey I have developed an understanding for the basics of HTML and CSS while continuing to develop and learn new languages, libraries, and frameworks such as Javascript, Bootstrap5, and Flask.  
                </p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 text-center">
            <div class="">
                <img src="static/images/headshot.png" class="img-fluid about-image" alt="Lucas Patriquin headshot">
            </div>
        </div>
    </div>
</div>
<div id="salesperson" class="container about-container">
    <div class="d-flex row align-items-center justify-content-around">
        <div class="col-lg-6">
            <div class="about-text">
                <h1 class="display-4 fw-bold text-light">Salesperson</h1>
                <h3 class="fw-semibold">8 years of B2B sales experience</h3>
                <p>
                    Selling has taught me a lot about product/service value, understanding wants/needs, and how to deliver and follow through on promises. Sales is about being curious and asking the right questions to truly understand your client. With software I take the same approach. 
                </p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 text-center">
            <div class="">
                <img src="static/images/al&lou.png" class="img-fluid about-image" alt="Lucas and wife Alycia">
            </div>
        </div>
    </div>
</div>
