<div class="footer-container container text-center">
    <div id="footer-name"class="mb-3 mx-auto">
        <h5 class="fw-bold mb-0">Lucas Patriquin</h5>
    </div>

    <div class="mb-3">
        <a href="https://www.linkedin.com/in/lucas-patriquin/" target="_blank" rel="noopener noreferrer" class="text-white mx-2 fs-4">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/PyLou317" target="_blank" rel="noopener noreferrer" class="text-white mx-2 fs-4">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/LucasPatriquin" target="_blank" rel="noopener noreferrer" class="text-white mx-2 fs-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/lucas_patriquin/" target="_blank" rel="noopener noreferrer" class="text-white mx-2 fs-4">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

    <div class="text-muted small">
        © {{ "2025" }} Lucas Patriquin. All rights reserved.
    </div>
</div>