<div class="container d-flex align-items-center justify-content-center h-100">
    <div class="col">
        <div class="text-center">
            <h1 id="hero-header" class="title-header">LUCAS PATRIQUIN</h1>
        </div>
        <div id="tag-line-div" class="d-flex align-items-center justify-content-between">
            <span class="tag-line"><a href="#about-me">Developer / Salesperson / Lifelong Learner</a></span>
            <a href="#contact-me" class="text-decoration-none">
                <button type="button" class="btn-connect btn">Get in touch <i class="fa-solid fa-arrow-right"></i></button>
            </a>
        </div>
    </div>
</div>