<div class="container text-light">
    <div class="row text-center hero-banner-row flex-lg-row-reverse align-items-center justify-content-center g-5">
        <div id="hero-div" class="col">
            <div class="row">
                <h1 class="mb-3"><i class="fab fa-canadian-maple-leaf"></i> I'm Lucas Patriquin</h1>
            </div>
            <div class="row d-flex my-4 align-items-center">
                <div class="col-5">
                    <p class="lead">With 8 years in sales, I ask the right questions (and sometimes the difficult questions) to understand your needs, then I build simple and elegant code.</p>
                </div>
                <div class="col">
                    <span id="developer-heading" class="fw-bold lh-1 mb-3">A developer</span>
                </div>
            </div>
           <div id="row-3" class="row">
                <h1 class="mb-3">bringing ideas to life through code.</h1>
            </div>
            {# <div class="d-grid gap-2 d-md-flex justify-content-md-start"> #}
                {# <a href="#projects-section" class="text-decoration-none"> #}
                    {# <button type="button" class="btn-my-work me-md-2">My Work <i class="bi bi-rocket-takeoff"></i></button> #}
                {#</a>#}
                {#<a href="#contact-me" class="text-decoration-none">#}
                    {#<button type="button" class="btn-connect btn btn-outline-light btn-lg px-4">Connect <i class="bi bi-envelope-check"></i></button>#}
              {#  </a>#}
            {#</div> #}
        </div>
    </div>
</div>

