<div class="container-fluid text-light">
    <div class="row hero-banner-row flex-lg-row-reverse align-items-end justify-content-center g-5">
        <div id="right-hb" class="col-sm-10 col-md-8 col-lg-5 order-lg-first order-last">
            <img id="hero-img" src="static/images/banner_headshot.png" class="d-block mx-lg-auto img-fluid" alt="Lucas Patriquin Headshot" loading="lazy">
        </div>
        <div id="left-hb" class="col-lg-5 col-md-8 col-sm-10">
            <h2 class="mb-3">I'm Lucas Patriquin</h2>
            <h4 class="display-3 fw-bold lh-1 mb-3">A Developer <i class="fab fa-canadian-maple-leaf"></i></h4>
            <p class="lead">I ask the right questions (and sometimes the difficult questions) to understand your needs and build simple and effective solutions.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="#projects-section" class="text-decoration-none">
                    <button type="button" class="btn-my-work me-md-2">My Work <i class="bi bi-rocket-takeoff"></i></button>
                </a>
                <a href="#contact-me" class="text-decoration-none">
                    <button type="button" class="btn-connect btn btn-outline-light btn-lg px-4">Connect <i class="bi bi-envelope-check"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>

