<div class="container text-light">
    <div class="row hero-banner-row flex-lg-row-reverse align-items-center justify-content-center g-5">
        <div id="right-hb" class="col-sm-10 col-md-8 col-lg-5 order-lg-first order-last ms-auto">
            <div class="profile-image-wrapper">
                <img id="hero-img" src="static/images/banner_headshot.png" class="d-block mx-lg-auto img-fluid" alt="Lucas Patriquin Headshot" loading="lazy">
            </div>
        </div>
        <div id="left-hb" class="col-lg-6 col-md-8 col-sm-10">
            <h4 class="mb-3">Hey, I'm Lucas 👋</h4>
            <h4 class="display-1 fw-bold lh-1 mb-3">A <span id="changing-word">Developer</span></h4>
            <p class="lead">My 7+ years in sales taught me how to truly understand a challenge. From there, I craft clear, elegant code that just works.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="#projects-section" class="text-decoration-none">
                    <button type="button" class="primary-btn me-md-2">My Work <i class="bi bi-rocket-takeoff"></i></button>
                </a>
                <a href="#contact-me" class="text-decoration-none">
                    <button type="button" class="btn-connect btn btn-outline-light btn-lg px-4">Connect <i class="bi bi-envelope-check"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>

