<div id="project-container" class="container">
  <div id="header-row"class="row border-bottom">
    <a href="#projects-section">
        <span id="project-header" class="fw-bold header">My Projects</span>
    </a>
  </div>
  <div class="container project-container g-4 mt-3 mb-5">
    <div class="row my-5">
        <div class="project-card bg-light rounded-3 d-flex h-100 flex-column">
            <div class="project-img-container w-100 bg-gray-300 d-flex align-items-center justify-content-center">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="static/images/evergreen_financial.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="static/images/evergreen_finance2.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="project-content p-4 flex-grow-1 d-flex flex-column justify-content-between">
                <div>
                    <h3 class="project-title fw-bold mb-2 text-dark">
                        <a href="#" class="text-decoration-none">Evergreen Financial <i class="fa-solid fa-circle-arrow-right"></i></a>
                    </h3>
                    <p class="project-description">A personal finance tracker with smart categorization and budget setting, to help you manage your day-to-day spending.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="project-card bg-light rounded-3 d-flex h-100 flex-column">
            <div class="project-img-container w-100 bg-gray-300 d-flex align-items-center justify-content-center">
                <img src="static/images/table_perks1.png" class="project-img d-block w-100" alt="FoodieFinder Restaurant App Screenshot">
            </div>
            <div class="project-content p-4 flex-grow-1 d-flex flex-column justify-content-between">
                <div>
                    <h3 class="project-title fw-bold mb-2 text-dark">
                        <a href="https://bring-a-friend-production.up.railway.app/" class="text-decoration-none" target="blank">Table Perks <i class="fa-solid fa-circle-arrow-right"></i></a>
                    </h3>
                    <p class="project-description">Mobile first restaurant loyalty app. Designed to incentavize guest to bring referrals by offering special deals and reward points for each visit.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row my-5">
        <div class="project-card bg-light rounded-3 d-flex h-100 flex-column">
            <div class="project-img-container w-100 bg-gray-300 d-flex align-items-center justify-content-center">
                <img src="https://placehold.co/1200x250" class="project-img d-block w-100" alt="FoodieFinder Restaurant App Screenshot">
            </div>
            <div class="project-content p-4 flex-grow-1 d-flex flex-column justify-content-between">
                <div>
                    <h3 class="project-title fw-bold mb-2 text-dark">
                        <a href="#" class="text-decoration-none">My Portfolio <i class="fa-solid fa-circle-arrow-right"></i></a>
                    </h3>
                    <p class="project-description">Modern-looking restaurant discovery platform featuring real-time search, reviews, and ratings.</p>
                </div>
            </div>
        </div>
    </div>
            
</div>

    