<div class="container align-items-center">
    <div class="row mx-3 d-flex text-light">
        <div class="col-6 d-flex justify-content-start align-items-center about-text-1">
            I build<br>solutions with :
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="row row-cols-2 gy-5">
                <div class="col"><img src="static/images/icons/python-icon.svg" alt="Python icon" class="icon-img"></div>
                <div class="col"><img src="static/images/icons/html-icon.svg" alt="HTML icon" class="icon-img"></div>
                <div class="col"><img src="static/images/icons/css-icon.svg" alt="CSS icon" class="icon-img"></div>
                <div class="col"><img src="static/images/icons/js-icon.svg" alt="Javascript icon" class="icon-img"></div>
                <div class="col"><img src="static/images/icons/django-icon.svg" alt="Django icon" class="icon-img"></div>
                <div class="col"><img src="static/images/icons/flask-icon.svg" alt="Flask icon" class="icon-img"></div>
            </div>
        </div>
    </div>
    
</div>